/* GENERAL */
*
{
    margin: 0;
    padding: 0;
}
ul,ol
{
    list-style: none;
}
body
{
    background: #bfbfbf url(images/background.jpg) repeat-x;
    font-family: arial, sans-serif;
}
header
{
    padding: 30px 0;
}
header h1
{
    font-size: 40px;
    text-align: center;
    font-family: limelight, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;

}
/*Main-MENU*/

#main-menu ul
{
    width: 980px;
    height: 500px;
    margin: 0 auto;
    padding-top:  148px;    
}
#main-menu ul li
{
    float: left;
    width: 140px;
    height: 500px;
    overflow: hidden;
    position: relative;
    
}
.bw
{
    position: absolute;
    left: 0;
    width: 140px;
    height: 500px;
    cursor: pointer;
    background: url('images/bw-image.jpg') no-repeat;
    opacity: 0.7;
}
.color
{
    position: absolute;
    left:140px;
    width: 140px;
    height: 500px;
    cursor: pointer;
    background: url('images/color-image.jpg') no-repeat;
}
#part2 div
{
    background-position: -140px 0px;
}
#part3 div
{
    background-position: -280px 0px;
}
#part4 div
{
    background-position: -420px 0px;
}
#part5 div
{
    background-position: -560px 0px;
}
.description
{
    position: absolute;
    left:140px;
    width: 240px;
    height: 460px;
    padding: 20px;
    background: #fff;
}
.description h2
{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    font-family: limelight, sans-serif;
}
.description h3
{
    margin-top: 30px;
    padding: 10px;
    font-size: 26px;
    background: #d70000;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    font-family: Lobster, sans-serif;
}
.description p
{
    padding-top: 35px;
    font-size: 22px;
    color: black;
    text-align: center;
    font-family: Lobster, sans-serif;
}

/* Buttons-menu*/

#buttons-menu
{
    float: left;
    width: 100%;
    padding: 170px 0 50px 0;
}
#buttons-menu ul
{
    float: left;
    position: relative;
    left: 50%;
    text-align: center;
}
.button
{
    float: left;
    width: 150px;
    margin-left: 30px;
    padding: 10px 0;
    position: relative;
    right: 50%;
    text-shadow: 1px 1px 1px black;
    font-family: lobster, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
    background: #333;
    border: 2px solid #b70000;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.9;
}
.hovered
{
    background: #b70000;
    border: 2px solid #333;
    font-size: 24px;
}